#about {
  position: relative;
  background: var(--deep-blue);
}

#about .container {
  display: grid;
  grid-template-columns: 400px auto;
  gap: 2rem;
  background: #496ded;
  border-top-left-radius: var(--radius-s);
  overflow: visible;
  color: white;
}

#about .about__image {
  border-radius: var(--radius-s);
  overflow: hidden;
  max-width: 400px;
  margin: auto;
  border: solid 10px #496ded;
}

#about .keypoints__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 30px;
}
#about .keypoints__container .keypoint {
  align-items: center;
  gap: 10px;
}

#about .keypoint .title {
  font-size: var(--font-size-base);
}

@media (max-width: 1200px) {
  #about .keypoints__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 930px) {
  #about .container {
    grid-template-columns: 100%;
    border-top-left-radius: 70%;
  }
}

@media (max-width: 500px) {
  #about .keypoints__container {
    grid-template-columns: 100%;
  }
}
